@import './base';
@import './components/header';
@import './components/sobre-nos';
@import './components/impotancia';
@import './components/trabalhamos';
@import './components/vantagens';
@import './components/footer';

@import './components/armario';
@import './components/editar';
@import './components/excluir';
@import './components/contato';
@import './components/login';
@import './components/cadastro';
